<!-- <div class="container mt-5">
  <div class="jumbotron text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="184" height="184" fill="currentColor"
      class="bi bi-check-circle-fill text-success mb-3" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </svg>
    <h1 class="display-4">Payment Successful!</h1>
    <p class="lead">Thank you for booking your trip!</p>
    <hr class="my-4" />
    <p>You will receive a confirmation email shortly.</p>
    <a class="btn btn-success btn-lg w-100" (click)="navigateToBookedTrips()" role="button">View Booked Trips</a>
  </div>
</div> -->

<div class="container mt-5">
  <div class="card bg text-center">
    <div class="card-header">
      <h2>Payment Successful!</h2>
    </div>
    <div class="card-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="184" height="184" fill="currentColor"
        class="bi bi-check-circle-fill text-success mb-3" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <p class="lead">Thank you for booking your trip!</p>
      <hr class="my-4" />
      <p>You will receive a confirmation email shortly.</p>

    </div>
    <div class="card-footer">
      <a class="btn btn-success btn-lg w-100" (click)="navigateToBookedTrips()" role="button">View Booked Trips</a>

    </div>
  </div>
</div>