<!-- section1........... -->
<section class="slides">
    <div id="carouselExampleInterval" class="carousel slide  " data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active img1" data-bs-interval="4000">

                <img src="/assets/images/paris1.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                        <button [routerLink]="['/search']" class="btn btn-dark w-100">Explore More</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="/assets/images/paris2.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="/assets/images/paris3.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="/assets/images/rio4.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="/assets/images/paris5.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="/assets/images/syd3.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <img src="/assets/images/rio1.jpg" class="d-block w-100" alt="...">
                <div class="contents text-center">
                    <div class="content ">
                        <h1 class="">Your Trip Starts Here.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rerum velit dolorum recusandae
                            facere
                            neque voluptatibus, qui reprehenderit non amet Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</section>

<!-- section2.................. -->
<section class="about" id="about">
    <div class="container p-5">
        <div class="row g-5 ">
            <div class="col-lg-7 col-md-12  image-container">
                <img src="/assets/imagesLanding/blog1.jpg" alt="Image description" class="image w-100">

            </div>

            <div class="col-lg-5 col-md-12  p-5  ">
                <div class="title">
                    <h3 class=" fw-bold fs-1 col-md-12">About Our Trips</h3>
                </div>

                <p class="text-muted">Experience the captivating contrasts of Egypt on a whirlwind 3-day adventure.
                    Immerse yourself in the vibrant underwater world of Sharm El Sheikh, a world-renowned diving
                    paradise. Explore coral reefs teeming with colorful fish, or relax on pristine beaches. translate to
                    arabic</p>

                <button class="btn btn-dark">Explore About Us</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 p-3  image-container">
                <img src="/assets/imagesLanding/about6.jpg" class="w-100 ">

            </div>


            <div class="col-md-3 p-3 image-container">
                <img src="/assets/imagesLanding/about10.jpg" class="w-100 ">


            </div>

            <div class="col-md-3 p-3 image-container">
                <img src="/assets/imagesLanding/about8.jpg" class="w-100 ">

            </div>
            <div class="col-md-3 p-3 image-container">
                <img src="/assets/images/about1.jpg" class="w-100 ">


            </div>

        </div>

    </div>

</section>

<!-- section3............. -->

<section class="Portfolio  py-5" id="ser" style="background-color: #f7f7f7;">
    <div class="title">
        <h3 class="text-center fw-bold fs-1">Services</h3>
    </div>
    <div class="container py-5 w-75">

        <ul class="nav nav-pills d-flex  justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span
                        class="position-relative">All</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-brand"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Aswan</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-design"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Sharm</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-graphic"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                    Alexandria</button>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">

                <div class="row">
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser5.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser6.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser1.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser2.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser3.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/ser4.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-brand" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/blog2.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/blog1.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-contact-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/sharm2.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/sharm1.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
            <div class="tab-pane fade" id="pills-graphic" role="tabpanel" aria-labelledby="pills-disabled-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/alex2.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/alex1.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 gy-4">
                        <div class=" protfolio-item "><img src="/assets/imagesLanding/alex4.jpg" class="w-100">
                            <div class="protfolio-layer d-flex justify-content-center align-items-center flex-column  ">
                                <div class="content-prto text-center ">
                                    <h6>Open the Image to Know more about this place</h6>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>








            </div>
        </div>

    </div>

</section>

<!-- section4..................... -->

<section class="Testimonials py-5" id="test">
    <div class="title">
        <h3 class="text-center fs-1 fw-bold">Testimonials</h3>
    </div>
    <div class="container py-5">


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

            <div class="carousel-inner text-center">
                <div class="carousel-item active  ">

                    <img src="/assets/imagesLanding/alex4.jpg" class="w-20 h-20 rounded-circle img-thumbnail">
                    <p class="w-75 mx-auto my-3 py-4 text-muted">Lorem27 ipsum dolor sit amet consectetur
                        adipisicing elit. Repellendus doloremque qui cupiditate iusto. Molestias quisquam voluptatem
                        atque mollitia autem nisi officia reiciendis delectus quibusdam </p>
                    <h6 class="fw-bold mb-1">Alex Smith</h6>
                    <p class="text-muted">Enavato Customer</p>
                </div>

                <div class="carousel-item   ">

                    <img src="/assets/imagesLanding/ser1.jpg" class="w-20 h-20 rounded-circle img-thumbnail">

                    <p class="w-75 mx-auto my-3 py-4 text-muted">Lorem27 ipsum dolor sit amet consectetur
                        adipisicing elit. Repellendus doloremque qui cupiditate iusto. Molestias quisquam voluptatem
                        atque mollitia autem nisi officia reiciendis delectus quibusdam </p>
                    <h6 class="fw-bold mb-1">Alex Smith</h6>
                    <p class="text-muted">Enavato Customer</p>
                </div>

                <div class="carousel-item   ">

                    <img src="/assets/imagesLanding/blog2.jpg" class="w-20 h-20 rounded-circle img-thumbnail">

                    <p class="w-75 mx-auto my-3 py-4 text-muted">Lorem27 ipsum dolor sit amet consectetur
                        adipisicing elit. Repellendus doloremque qui cupiditate iusto. Molestias quisquam voluptatem
                        atque mollitia autem nisi officia reiciendis delectus quibusdam </p>
                    <h6 class="fw-bold mb-1">Alex Smith</h6>
                    <p class="text-muted">Enavato Customer</p>




                </div>
            </div>

            <div class="carousel-indicators  position-static py-2  ">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active "
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
        </div>










    </div>
</section>



<!-- section5................ -->

<section class=" Blog py-5 " id="blo">
    <div class="title">
        <h3 class="text-center fs-1 fw-bold">Our Blog.</h3>
        <p class="text-center w-50 m-auto">Lorem ipsum dolor sit amet This is Photoshop’s version of Lorem Ipsn gravida.
            Ing business like this takes much more effort than doing your own.</p>
    </div>
    <div class="container w-75 py-5">
        <div id="carouselasmaa" class="carousel slide" data-bs-ride="true">

            <div class="carousel-inner ">
                <div class="carousel-item active  ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-white ">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog1.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-4">
                                    <p class="text-muted fs-6 ">(120) reviews</p>
                                    <h6 class="fw-bold "> Top Wardpress Themes And Plugins For Hotels, Travel,And</h6>
                                    <a href="#" class="text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog3.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-4">
                                    <p class="text-muted ">(190) reviews</p>
                                    <h6 class="fw-bold "> Mester These Asewsome New Skills in March 2018</h6>
                                    <a href="#" class="text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog2.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-4">
                                    <p class="text-muted ">(170) reviews</p>
                                    <h6 class="fw-bold "> The 20 Best Lightroom Presets You Need To know About</h6>
                                    <a href="#" class="text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="carousel-item   ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-white">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog1.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-4">
                                    <p class="text-muted ">(200) reviews</p>
                                    <h6 class="fw-bold "> Top Wardpress Themes And Plugins For Hotels, Travel,And</h6>
                                    <a href="#" class="text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog3.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-4">
                                    <p class="text-muted ">(150) reviews</p>
                                    <h6 class="fw-bold "> Mester These Asewsome New Skills in March 2018</h6>
                                    <a href="#" class="text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-white">
                                <div class="div-image">
                                    <img src="/assets/imagesLanding/blog4.jpg" class="w-100">
                                </div>
                                <div class="blog-content p-2">
                                    <p class="text-muted ">(176) reviews</p>
                                    <h6 class="fw-bold ">Best Design Items Apple To Lorem, ipsum dolor. </h6>
                                    <a href="#" class=" text-muted">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>

            <div class="carousel-indicators  position-static py-2  ">
                <button type="button" data-bs-target="#carouselasmaa" data-bs-slide-to="0" class="active "
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselasmaa" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>

            </div>
        </div>












    </div>

</section>


<!-- section6............... -->
<section class="Contact  py-5" id="cont">
    <div class="title">
        <h3 class="fw-bold fs-1  text-center">Contact Us.</h3>
    </div>
    <div class="container py-5 w-60">
        <div class="row py-5">
            <div class="col-md-4 text-center">
                <div
                    class=" icon mt-4 m-auto d-flex justify-content-center align-items-center w-40 h-40  rounded-circle mb-3">

                </div>
                <h6>Address
                </h6>
                <p class="text-muted"> 6834 Hollywood Blvd - Los Angeles CA</p>
            </div>
            <div class="col-md-4 text-center">
                <div
                    class=" icon mt-4 m-auto d-flex justify-content-center align-items-center w-40 h-40  rounded-circle mb-3">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <h6>Email

                </h6>
                <p class="text-muted"> Supportwebsite.com</p>
            </div>
            <div class="col-md-4 text-center">
                <div
                    class=" icon mt-4 m-auto d-flex justify-content-center align-items-center w-40 h-40  rounded-circle mb-3">
                    <i class="fa-solid fa-phone  fs-4 "></i>
                </div>
                <h6>Phone
                </h6>
                <p class="text-muted"> +20 010 2517 8918</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2 ">
                <input type="text" placeholder="Name" class="w-100 rounded-2 form-control ">
            </div>
            <div class="col-md-6 mt-2">
                <input type="text" placeholder="Email" class="w-100 rounded-2 form-control">
            </div>

        </div>
        <div class="">
            <textarea class="w-100 mt-3 rounded-2 h-25 form-control" placeholder="Message"></textarea>
        </div>
        <a href="#"><button class="btn2 mt-3  mt-3 pt-1 ps-4 pb-1 pe-4 rounded-1 w-15">Submit</button></a>

    </div>

</section>